.navbar .nav-link.active {
    background-color: #00000033;
}

.navbar .nav-link:hover {
    background-color: #00000022;
}

.navbar .nav-link {
    /* Set the padding-x to always be 0.5rem, as at smaller breakpoints it goes to 0 */
    --bs-nav-link-padding-x: 0.5rem;
    border-radius: 0.5rem;
}

/* add padding to the top at smaller breakpoints, which is when the navbar collapses */
@media (max-width: 575.98px) {
    .navbar-collapse {
        padding-top: 0.5rem;
    }
}

a.undo-a-tag {
    color: inherit;
    text-decoration: inherit;
}
