.tab-pane {
    padding: 1rem;
}

.indicator {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
}

.indicator.stopped {
    background-color: red;
}

.indicator.starting {
    background-color: limegreen;
    animation: blink 1s step-start infinite;
}

.indicator.running {
    background-color: limegreen;
}

.indicator.stopping {
    background-color: red;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}